
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner1 {
    margin-top: 50px;
    position: relative;
}
#banner1 img {
    width: 100%;
    height: 100%;
}

#banner1 .contenedor {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-50%)translateY(-50%);
    color: #ffffff;
}
#banner1 h2 {
    font-size: 28px;
}
#banner1 a {
    display: block;
    width: 100px;
    color: #ffffff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #ffffff;

}
#banner1 a:hover {
    background: rgba(51, 51, 51, 0.5);
}
@media(min-width: 1024px){

    #banner1 img{
        height: auto;
        margin-top: -200px;
    }

}
#labels{
    padding: 7px;
    text-align: center;
    justify-content: center;

    width: 100%;
    height: 50%;
    color: rgba(51, 51, 51, 0.5);
    
}
