#bookm{

    background: #333333;
    color: #333333;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    color: #ffffff;
    margin-bottom: 0px;
}#bookm1{
    background: #ffffff;
    color: #333333;
    text-align: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    margin-bottom: 0px;
}
#bookm.contenedor{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
}
#bookm label{
    text-align: center;
}
fieldset{
    margin-left: 42%;
    justify-items: center;
    max-width: 200px;
}
h2{
    color: #ffffff;
    font-size: 35px;
}
h3{
    color: #333333;
    font-size: 35px;
}
.boton{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 20px;
    font-family: "Arial Black";
    background: #333333; 
    width: 200px;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 80;
    font-variant-caps: small-caps;
}
