* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
  }
  .contenedor {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px 1fr 1fr 80px / 0.3fr 1fr 0.3fr;
    grid-template-areas: 
      "header header header"
      "menu contenido area" 
      "menu contenido area2"
      "footer footer footer";
  }
  
  .header {
    background: rgb(114, 157, 250);
    grid-area: header;
    border-width: 0px;
    border-color:black;
    border-style: solid;
    display: grid;
    grid-template: 1fr/0.2fr 1fr 0.2fr;
  } 
  .menu {
    background: rgb(114, 157, 250);
    grid-area: menu;
    border-width: 0px;
    border-color:black;
    border-style: solid;
    display: grid;
    justify-items: center;
  }
  .area-menu{
    background: rgb(221, 220, 220);
    
  }
  .contenido {
    background: rgb(221, 220, 220);
    grid-area: contenido;
    border-width: 0px;
    border-color:black;
    border-style: solid;
  }
  .titulo{
    font-size: 78px;
    font-family: 'Lobster Two', cursive;
    grid-row: 1 / 2;
    grid-column : 2 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .footer {
    background:  rgb(114, 157, 250);
    grid-area: footer;
    border-width: 0px;
    border-color:black;
    border-style: solid;
    display: grid;
    justify-content: center;

  }
  .area-logo{
    background-color: rgb(114, 157, 250);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-items: stretch;
    display: grid;
    justify-items: left;
    margin-left: 100px;
}
  .logo{ 
    font-size: 70px;
    font-family: 'Lobster Two', cursive;
    width: 100px;
    height: 30px;
} 
  .area{
    background-color: rgb(221, 220, 220);
    grid-area: area;
    border-width: 1px;
    border-color:black;
    border-style: solid;
    display: grid;
    justify-content: center;
  }
  .area2{
    background-color: #f14f44;
    grid-area: area2;
    border-width: 1px;
    border-color:black;
    border-style: solid;
  
  }
  .area-salir{
    grid-row: 1 / 2;
    grid-column : 3 / 4;
    display: grid;
    align-items: center;
    justify-items: right;
    margin-right: 30px;

  }
  .salir{
    width: 100px;
    height: 30px;
  }
 
 
