@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(book.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #ffffff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor{
    width: 98%;
    margin: auto;
}
h1{
    float: left;
}
h3{
    font-size: 35px;
}
header .contenedor{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 25px;
}
.Bienvenidos{
    width: 98%;
    margin: auto;
    text-align: center;
}
#Bienvenidos{
    text-align: center;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 20px;
}
.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color: #333;
    text-decoration: none;
}
@media(min-width : 768px){
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between;
    }

}
@media(min-width : 1024px){
    .contenedor{
        width: 1000px;
    }
}
a{
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}
.books{
    text-align: center;
    background-color: #333;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
}
.titulo{
    margin-top: 50px;
    border: #ffffff;
    border-radius: 100px;
    text-align: center;
}
.filtro{
    background: #ffffff;
    width: 600px;
    margin: 12px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.tabla{
    text-align: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 20px;
    margin-top: 0px;
    border-collapse: collapse;
    border: 1px solid #ffffff;
    padding: 10px;
}
.a{
    color: #ffffff;
}
.td{
    border: 1px solid #ffffff;
    padding: 20px;
}
.botonEliminar{
    text-align: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 20px;
    font-family: "Arial Black";
    background: #333333; 
    width: 90px;
    padding: 10px;
    color: #ffffff;
    
}
