h1{
    color: chartreuse;
}
.contenedor{
    width: 100vw;
    height: 100vh;
    background: darkcyan;
    display: grid;
    grid-template:80px 1fr 1fr 80px / 0.3fr 1fr 0.3fr;
    gap: 5px;
    grid-template-areas:
    "header header header"
    "menu contenido noticias"
    "menu contenido area"
    "footer footer footer";
}
.header{
    background: aqua;
    grid-area: header;
    display: grid;
    grid-template: 1fr/0.2fr 1fr 0.2fr;
}
.menu{
    background: blueviolet;
    grid-area: menu;
}
.area-logo{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: left;
    margin-left: 10px;
}
.logo{
    background: dodgerblue;
    width: 100px;
    height: 30px;
}
.area-salir{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background: deeppink;  
    display: grid;
    justify-items: right;
    align-items: center;
    margin-right: 10px; 
}
.salir{
    background: rebeccapurple;
    width: 100px;
    height: 30px;

}
.contenido{
    background: brown;
    grid-area: contenido;
}
.news{
    background: chocolate;
    grid-area: noticias;
}
.area{
    background: darkred;
    grid-area: area;
}
.footer{
    background: cadetblue;
    grid-area: footer;
}
