body{
    
    font-family: 'Open Sans',sans-serif;
}
ul{
    list-style: none;
}

.boton-eliminar{
    background: red;
    border: 1px solid red;
    color: white;

    cursor: pointer;
    float: right;
}
li{
    padding: 5px;
    margin-bottom: 5px;
}
h2{
    font-family: 'Open Sans',sans-serif;
}