@import url(menu.css);
@import url(estilos.css);

.login-page {
    background-color: #333333   ;
}
.form {
    margin-top: 10px;
    max-width: 920px;
    background: #FFFFFF;
    padding: 10px;
    border: solid #333333;
    border-right: 10px;
    margin-left: 200px;
    float: initial;
    align-items: center;
    justify-content: center;
}
.input {
    background: #ffffff;
    width: 850px;
    margin: 12px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.button {
    align-items: center;
    margin-left: 37px;
    font-family: "Arial Black";
    background: #333333;
    width: 800px;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    font-variant-caps: small-caps;
}
.message a {
    margin: 15px 0 0;
    color: #333333;
    text-decoration: none;
}
.body {
    background-color: #ffffff;
}
.message {
    margin: 15px 0 0;
    color: #333333;
    font-size: 23px;
    text-align: left;
}
.message2{
    text-align: center;
    margin: 15px 0 0;
    color: #333333;
    font-size: 12px;  
}
.body{
    background: #333333;
}

.sociales{
    
    width: 100%;
    text-align: center;
    font-size: 28px;
    width: auto;
}
.sociales a{
    color: #ffffff;
    text-decoration: none;
}
.log{
    width: auto;
    color: #fff;
    align-items: center;
}
section{
    margin-top: 100px;
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    margin-bottom: 25px;
}
h2{
    align-items: center;
    justify-content: center;
    float: initial;
}


.Bienvenidos{
    width: 98%;
    justify-content:center;
    text-align: center;
}